# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

#load licence key and other secrets
exec secrets.cfg

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer"

## vMenu perms and config
exec permissions.cfg


## You MAY edit the following:
sv_hostname "LSM Playground"
sets sv_projectName "LSM Playground"
sets sv_projectDesc "LSM FiveM Test Server."
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin easyadmin allow
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:3430468 group.admin #jinnosuke

load_server_icon logo.png

start CarComand
start loadingscreen
ensure hologramspeed
ensure playerblips
start playerlist
start nos
start help

#cars
ensure PLOKS_CARS

exec easyadmin_permissions.cfg
